[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
cython = "==0.28.3"
#kivy = {file = "https://github.com/kivy/kivy/archive/master.zip"}
kivy = "==1.10.1"
pyserial = "*"
'RPi.GPIO'  = {version = "*", sys_platform = "== 'linux'"}

[dev-packages]
mypy = "*"
pyinstaller = "*"
ansible = "*"

[requires]
python_version = "3.6"
