[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
cython = "==0.25.2"
kivy = {file = "https://github.com/kivy/kivy/archive/master.zip"}

[dev-packages]
mypy = "*"
pyinstaller = "*"

[requires]
python_version = "3.6"
