[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
cython = "==0.28.2"
kivy = {git = "https://github.com/kivy/kivy.git", ref = "1.10.1"}

[dev-packages]
mypy = "*"

[requires]
python_version = "3.6"
